canvas {
  background-image: url(./canvas-background.webp);
  margin: 0 auto;
  display: flex;
  border: 2px solid #820202;
}

#gameOver {

  position: absolute;
  top: 80px;
  right: 410px;
  display:none;

}

#win {

  position: absolute;
  top: 150px;
  right: 390px;
  display:none;

}

#reset {

  position: absolute;
  top: 640px;
  right: 730px;
  display:none;

}

#setscore {

  color: rgb(255, 255, 255);
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  
  
}

#setscorenum {

  color: white;
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  

}



